body {
  margin: 0 auto;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: white;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Fonts */
@font-face {
  font-family: "stolzl-regular";
  src: url("/public/fonts/Stolzl/Stolzl-Regular.ttf");
}

@font-face {
  font-family: "stolzl-medium";
  src: url("/public/fonts/Stolzl/Stolzl-Medium.ttf");
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "stolzl-regular";
  font-size: 64px;
  line-height: 76.8px;
  letter-spacing: 2px;
}

h2 {
  font-family: "stolzl-regular";
  font-size: 44px;
  line-height: 52.8px;
  letter-spacing: 1px;
}

h3 {
  font-family: "stolzl-regular";
  font-size: 32px;
}

h4 {
  font-family: "stolzl-medium";
  font-size: 18px;
}

h5 {
  font-family: "stolzl-medium";
  font-size: 15px;
  font-weight: medium;
  letter-spacing: 1px;
}

p {
  font-family: "stolzl-regular";
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: 0.5px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "stolzl-medium";
}

button:hover {
  cursor: pointer;
  opacity: 0.85;

  background-color: #ffd15c;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  /* max-width: 1440px; */
  width: 100%;
  padding: 124px 0;
  display: flex;
  justify-content: center;
}

.primaryBtn {
  padding: 20px 40px;
  background: #ffe249;
  color: #272727;
  border-radius: 5px;
}
